<div id="messageContainer">
     <div class="logo">PopStop</div>
     <div class="box">
         <div class="top">
             <h1></h1>
         </div>
         <div class="content"></div>
      </div>
</div>

<div id="lightboxTarget">
    <div class="movie-card">
        <div class="container">
            <div class="lightbox-close"></div>
            <span id="cover"></span>
            <div class="hero">
                <div class="details">
                </div> <!-- end details -->
            </div> <!-- end hero -->
            <div class="description">
                <div class="button play-now">
                    <i class="fa fa-play-circle"></i> WATCH NOW
                </div>
                <div class="column-left">
                </div> <!-- end column1 -->
                <div class="column-right"></div> <!-- end column2 -->
                <div id="movieHolder" data-id=""></div>
            </div> <!-- end description -->
        </div> <!-- end container -->
    </div> <!-- end movie-card -->
</div>  <!-- end lightbox -->
