<div id="messageContainer">
     <div class="logo">
     </div>
     <div class="box">
         <div class="top">
             <h1></h1>
         </div>
         <div class="content"></div>
      </div>
</div>

<div id="lightboxTarget">
    <div class="movie-card">
        <div class="container">
            <div class="lightbox-close"></div>
            <div class="cover-holder">
                <span id="cover"></span>
                <div class="button" id="playNow">
                    <i class="fa fa-play-circle"></i> WATCH NOW
                </div>
            </div>
            <div class="hero">
                <div class="details">
                </div> <!-- end details -->
            </div> <!-- end hero -->
            <div class="description">
                <div class="column-left"></div> <!-- end column-left -->
                <div class="column-right">
                    <ul class="tab-wrap">
                        <li>
                            <input type="radio" id="tab-1" name="tab" checked />
                            <label for="tab-1" class="label-1">Information</label>
                            <div class="tab-content" id="overview"></div>
                        </li>
                        <li>
                            <input type="radio" id="tab-2" name="tab" />
                            <label for="tab-2" class="label-2">Cast</label>
                            <div class="tab-content" id="cast"></div>
                        </li>
                    </ul>
                </div>
                </div> <!-- end column-right -->
                <div id="movieHolder" data-id=""></div>
            </div> <!-- end description -->
        </div> <!-- end container -->
    </div> <!-- end movie-card -->
</div>  <!-- end lightbox -->

