<div class="holder">
    <div id="controls">
        <div class="control-bar">
            <div id="progressBar">
                <div id="played"></div>
                <div id="loadedBar"></div>
            </div>
            <ul class="left">
                <li><div class="play" id="playerButton"></div></li>
                <li><span id="playingTime">00:00</span> / <span id="totalTime">00:00</span></li></ul>
            <ul class="right">
                <li>
                    <div id="volume">
                        <div id="volumeIcon" class="volume-max"><span></span></div>
                        <div id="volumeControl">
                            <div id="volumePosition">
                                <div id="currentVolume"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div id="subtitleMenu">
                        <div id="subtitleMenuIcon"></div>
                        <div id="subtitleDisplay"></div>
                    </div>
                </li>
                <li>
                    <div id="fullScreenButton"><span></span></div>
                </li>
            </ul>
        </div>
    </div>
    <div id="subtitleHolder"></div>
    <span id="closeButton"></span>
</div>