@import url(http://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css);

video::-webkit-media-controls {
    display:none !important;
}
video::-webkit-media-controls-enclosure {
    display:none !important;
}

video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-height: 100%;
    width: 100%;
    height: auto;
    background-size: cover;
    transition: 1s opacity;
    z-index: 9999;
    background: #000;
    overflow: hidden;
}

/* CONTROLS
---------------------------
--------------------------- */
.control-bar{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: rgba(50,50,50,.75);
    z-index: 2147483647;
}

#controls {
    opacity: 0;
    width: 100%;
}

#controls .left {
    float: left;
    margin-top: 2px;
}

#controls .right {
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}

#controls ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#controls ul li {
    display: inline;
}

#playerButton,
#playingTime,
#totalTime,
#fullScreenButton,
#volume,
#subtitleMenu
{
    display: inline;
    padding: 10px 0 0 10px;
    width: 35px;
    height: 35px;
    background: none;
    color: #FFFFFF;
}

#subtitleHolder {
    position: absolute;
    left: 0;
    bottom: -200px;
    z-index: 9999999;
}

#subtitleHolder p{
    font-size: 50px;
    line-height: 55px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(25, 25, 25, 0.3);
    padding: 20px;
}

#closeButton {
    position: fixed;
    top: -60px;
    left: 10px;
    z-index: 2147483647;
    cursor: pointer;
}

#playerButton{
    float: left;
    height: 100%;
    width: 35px;
    position: relative;
    cursor: pointer;
}
#playerButton:hover{
    color: #F94F6A;
}

.pause:before,
.play:before {
    content:'\f144';
    font-size: 35px;
    font-family: FontAwesome;
}


.pause:before {
    font-size: 30px;
    content:'\f04c';

}

/* INFORMATION
---------------------------
--------------------------- */
.info .poster {
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 120px;
    line-height: 200px;
    border-radius: 50%; /* the magic */
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 5px solid #353535;

}

.info {
    position: absolute;
    left: 25%;
    bottom: -60px;
}

.info .title {
    color: #fff;
    font-weight: bold;
    position: relative;
    left: 134px;
    bottom: 94px;
    font-size: 18px;
    background-color: #279CEB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0px 5px 0px 5px;
}
.holder {
    height: 25%;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 2147483647;
}
/* PROGRESSBAR
---------------------------
--------------------------- */
#playingTime,
#totalTime{
    position: relative;
    top: 12px;
    height: 100%;
    font-size: 16px;
    cursor: default;
    text-align: center;
}


#progressBar{
    position: absolute;
    left: 0;
    right: 0;
    width: auto;
    top: -10px;
    cursor: pointer;
}
#played{
    width: 0;
    height: 10px;
    background-color: #F94F6A;
    position: absolute;
    z-index: 3;
    cursor: pointer;
}
#loadedBar{
    width: 0;
    height: 10px;
    background-color: #2B2627;
    position: absolute;
    z-index: 2;
}
/* SUBTILE-MENU
---------------------------
--------------------------- */
#subtitleMenu {
    float: left;
}

#subtitleMenuIcon{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#subtitleMenuIcon:hover{
    color: #F94F6A;
}
#subtitleMenuIcon:before {
    content:'\f013';
    font-size: 30px;
    font-family: FontAwesome;
}

#subtitleMenu:hover #subtitleDisplay{
    bottom: 50px;
    right: 25px;
    opacity: 1;
    -webkit-transition: bottom 0s ease 0s;
    -moz-transition: bottom 0s ease 0s;
    -ms-transition: bottom 0s ease 0s;
    -o-transition: bottom 0s ease 0s;
    transition: bottom 0s ease 0s;

}

#subtitleDisplay{
    min-height: 60px;
    min-width: 85px;
    background-color: #353535;
    padding: 5px 6px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 6px;
    opacity: 0;
    z-index: 9999;
}

#subtitleDisplay:after{
    content: "";
    width: 0;
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #353535 transparent;
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;
}


#subtitleDisplay ul li{
    list-style-type:none;
    display: block;
    text-align: center;
    cursor: pointer;
}
#subtitleDisplay .selected {
    background: #279CEB;
}

.subtitle-check {
    display: none;
}

/* FULLSCREEN
---------------------------
--------------------------- */
#fullScreenButton{
    float: left;
    position: relative;
    cursor: pointer;
}
#fullScreenButton:hover{
    color: #F94F6A;
}
#fullScreenButton:before {
    content:'\f0b2';
    font-size: 30px;
    font-family: FontAwesome;
}
/* VOLUME
---------------------------
--------------------------- */
#volume{
    float: left;
}

#volumeIcon{
    float: left;
    height: 100%;
    position:relative;
    cursor: pointer;
}
#volume:hover #volumeControl{
    bottom: 50px;
    opacity: 1;
    -webkit-transition: bottom 0s ease 0s;
    -moz-transition: bottom 0s ease 0s;
    -ms-transition: bottom 0s ease 0s;
    -o-transition: bottom 0s ease 0s;
    transition: bottom 0s ease 0s;
}
#volumeIcon:hover{
    color: #F94F6A;
}

#volumeIcon:before{
    font-size: 30px;
    font-family: FontAwesome;
}

.volume-mid:before, .volume-min:before {
    content:'\f027';
}
.volume-max:before {
    content:'\f028';
}

#volumeControl{
    height: 80px;
    width: 20px;
    background-color: #353535;
    cursor: pointer;
    padding: 5px 6px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    z-index: 9999;
}
#volumeControl:after{
    content: "";
    width: 0;
    display: block;
    margin: auto;
    border-style: solid;
    border-width: 6px 6px 0;
    border-color: #353535 transparent;
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;
}
#volumePosition{
    background-color: #2B2627;
    height: 100%;
    width: 100%;
    position: relative;
}
#currentVolume{
    background-color:#F94F6A;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
}

.mute:before {
    content:'\f026';
}