@media only screen and (min-width : 320px) and (max-width : 480px) {
    .logo {
        font-size: 35px;
    }

    .logo-sticky {
        font-size: 25px;
        top: 8px;
        margin-left: 0;
    }

    .logo img {
        height: 35px;
        left: 5px;
    }

    .logo-sticky img {
        height: 25px;
        left: 3px;
        top: 3px;
    }

    .window .main .featured-movie {
        height: 300px;
    }

    .window .main .featured-movie:after {
        height: 300px;
        font-size: 100px;
        line-height: 300px;
    }

    .window .main .featured-movie .bottom-bar {
        padding: 10px 20px;
    }

    .window .main .featured-movie .bottom-bar .title-container {
        font-size: 16px;
    }

    .window .main .featured-movie .bottom-bar .right {
        margin-top: 0;

    }

    .window .main .featured-movie .bottom-bar .right .stars {
        font-size: 16px;
        margin-right: 10px;
    }

    .window .main .menu-bar {
        height: 25px;
    }

    .window .main .menu-bar .left {
        display: none;
    }

    .window .main .menu-bar .right {
        margin-right: 10px;
        position: relative;
        bottom: 5px;
    }

    .window .side-bar {
        width: 190px;
        height: 100%;

    }

    .window .side-bar  #genresList{
        height: 275px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .side-bar-open .list {
        margin-left: 190px;
    }

    .window .main .movie-list .list > li {
        margin: 2%;
        max-width: none;
        width: 46%;
    }

    .window .main .movie-list .list li:after {
        font-size: 0px;
    }

    .side-bar-open .list > li {
        margin: 2%!important;
        width: 100%!important;
    }

    .side-bar-sticky {
        top: 40px!important;
    }

    .window .side-bar menu > ul > li > a {
        font-size: 12px;
    }

    .window .side-bar .search-box {
        padding: 10px;
    }

    .window .side-bar .search-box input {
        width: 130px;
    }

    .window .side-bar .search-box .fa {
        top: 20px;
        right: 20px;
    }

    .spinner {
        top: 30%;
        height: 50px;
        width: 50px;
        left: 30%;
    }

    #lightboxTarget .movie-card {
        padding: 30px 0;
    }

    #lightboxTarget .movie-card .cover {
        display: none;
    }

    #lightboxTarget .movie-card .hero {
        height: 245px;
    }

    #lightboxTarget .movie-card .container {
        width: 90%;
        height: 85%;
    }

    #lightboxTarget .movie-card .column-left {
        float: none;
        padding-left: 0;
        padding-top: 0;
        height: 0;
    }

    #lightboxTarget .movie-card .column-left .tags {
        position: absolute;
        bottom: 50px;
        left: 15px;
        z-index: 999;
    }

    #lightboxTarget .movie-card .column-left .tags .tag {
        font-size: 12px;
    }

    #lightboxTarget .movie-card .column-left .runtime,
    #lightboxTarget .movie-card .column-left br {
        display: none;
    }

    #lightboxTarget .movie-card .details .bottom-bar .right {
        font-size: 14px;
    }

    #lightboxTarget .movie-card .details .bottom-bar .title-container {
        margin-left: 0;
        font-size: 14px;
    }

    #lightboxTarget .movie-card .column-right {
        padding-left: 0;
        margin-left: 30px;
        width: 85%;
    }

    #lightboxTarget .movie-card .column-right > p {
        height: 137px;
        overflow-y: auto;
    }

    #lightboxTarget .movie-card .description {
        height: 260px;
        font-size: 13px;
        line-height: 15px;
    }

    #lightboxTarget .movie-card .cover-holder {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    #lightboxTarget .movie-card .button {
        font-size: 16px;
        width: 100%;
        padding: 7px 0px;
        left: 0;
        bottom: 10px;
        border-radius: 0!important;
        position: absolute;
    }

    .lightbox-close {
        width: 35px;
        height: 35px;
        top: -15px;
        right: -10px;
    }

    .lightbox-close:before,
    .lightbox-close:after {
        height: 25px;
        left: 18px;
        top: 5px;
    }

    #messageContainer {
        width: 90%;
        font-size: 13px;
    }

    #messageContainer .content .step {
        width: 25%;
    }

    #messageContainer .api-key input {
        width: 245px;
    }

    .control-bar {
        width: 100%;
        height: 70px;
        position: absolute;
    }

    .time-holder {
        padding: 10px 0 0 10px;
    }

    .time-holder span{
        font-size: 14px;
    }

    #movieInfo {
        display: none;
    }

    #volume:hover #volumeControl,
    #subtitleMenu:hover #subtitleDisplay{
        bottom: 75px;
    }


}
@media only screen and (min-width : 480px) and (max-width : 690px) {
    .logo-sticky {
        margin-left: 0;
    }

    .window .main .menu-bar .right {
        margin-right: 15px;
    }


    .window .main .featured-movie {
        height: 300px;
        background-position: center center;
    }

    .window .main .featured-movie:after {
        height: 250px;
        font-size: 150px;
        line-height: 300px;
    }

    .window .main .featured-movie .bottom-bar {
        padding: 15px 30px;
    }

    .window .main .featured-movie .bottom-bar .title-container {
        font-size: 20px;
    }

    .window .main .featured-movie .bottom-bar .right {
        margin-top: 0;
    }

    .window .main .featured-movie .bottom-bar .right .stars {
        font-size: 20px;
    }

    .window .side-bar {
        width: 190px;
        height: 100%;
    }

    .side-bar-open .list {
        margin-left: 190px;
    }

    .window .side-bar  #genresList{
        height: 130px;
        overflow-y: auto;
    }

    .side-bar-open .list {
        margin-left: 190px;
    }

    .window .main .movie-list .list > li {
        margin: 1%;
        max-width: none;
        width: 29%;
    }

    .side-bar-open .list > li {
        margin: 1%!important;
        width: 40%!important;
    }


    .window .side-bar .search-box {
        padding: 10px;
    }

    .window .side-bar .search-box input {
        width: 130px;
    }

    .window .side-bar .search-box .fa {
        top: 20px;
        right: 20px;
    }


    .side-bar-sticky {
        top: 40px!important;
    }

    .window .side-bar menu > ul > li > a {
        font-size: 12px;
    }

    .spinner {
        top: 30%;
        height: 50px;
        width: 50px;
    }

    #lightboxTarget .movie-card {
        padding: 30px 0;
    }

    #lightboxTarget .movie-card .hero {
        height: 190px;
    }


    #lightboxTarget .movie-card .container {
        width: 90%;
        height: 370px;
    }

    #lightboxTarget .movie-card .column-left {
        float: none;
        padding-left: 0;
        padding-top: 0;
        height: 0;
    }

    #lightboxTarget .movie-card .column-left .tags {
        position: absolute;
        bottom: 45px;
        left: 15px;
        z-index: 999;
    }

    #lightboxTarget .movie-card .column-left .tags .tag {
        font-size: 12px;
    }

    #lightboxTarget .movie-card .cover-holder .cover,
    #lightboxTarget .movie-card .column-left .runtime,
    #lightboxTarget .movie-card .column-left br {
        display: none;
    }

    #lightboxTarget .movie-card .details .bottom-bar .right {
        font-size: 14px;
    }

    #lightboxTarget .movie-card .details .bottom-bar .title-container {
        margin-left: 0;
        font-size: 14px;
    }

    #lightboxTarget .movie-card .column-right {
        padding-left: 0;
        margin-left: 15px;
        width: 85%;
    }

    #lightboxTarget .movie-card .column-right > p {
        height: 75px;
        overflow-y: auto;
    }

    #lightboxTarget .movie-card .description {
        height: 260px;
        font-size: 13px;
        line-height: 15px;
    }

    #lightboxTarget .movie-card .cover-holder {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
    }

    #lightboxTarget .movie-card .button {
        font-size: 16px;
        width: 100%;
        padding: 7px 0px;
        left: 0;
        bottom: 10px;
        border-radius: 0!important;
        position: absolute;

    }

    .control-bar {
        width: 100%;
        height: 70px;
        position: absolute;
    }

    .time-holder {
        padding: 10px 0 0 10px;
    }

    #movieInfo {
        display: none;
    }

    #volume:hover #volumeControl,
    #subtitleMenu:hover #subtitleDisplay{
        bottom: 75px;
    }

    #messageContainer {
        top: 40%;
    }
}

@media only screen and (min-width : 690px) and (max-width : 1110px)  {
    .window .main .featured-movie {
        height: 300px;
        background-position: center center;
    }

    .window .main .featured-movie:after {
        height: 250px;
        font-size: 150px;
        line-height: 300px;
    }

    .window .main .featured-movie .bottom-bar {
        padding: 15px 30px;
    }

    .window .main .featured-movie .bottom-bar .title-container {
        font-size: 20px;
    }

    .window .main .featured-movie .bottom-bar .right {
        margin-top: 0;
    }

    .window .main .featured-movie .bottom-bar .right .stars {
        font-size: 20px;
    }

    .window .main .movie-list .list li {
        max-width: 240px;
    }


    #lightboxTarget .movie-card .container {
        width: 90%;
    }

    #lightboxTarget .movie-card .hero {
        height: 260px;
    }

    #lightboxTarget .movie-card .cover {
        width: 140px;
        top: 138px;
    }

    #lightboxTarget .movie-card .button {
        font-size: 15px;
        width: 120px;
        bottom: 180px;
    }

    #lightboxTarget .movie-card .column-left {
        padding-left: 50px;
        padding-top: 130px;
        width: 15%;
    }

    #lightboxTarget .movie-card .tag {
        font-size: 12px;
    }

    #lightboxTarget .movie-card .column-right {
        width: 70%;
    }

    .control-bar {
        width: 65%;
        right: 15%;
    }

    .info {
        left: 8.5%;
        bottom: -60px;
    }

    .info .poster {
        display: none;
    }

    .info .title {
        font-size: 14px;
    }
}


@media only screen and (min-width : 1200px) and (max-width: 1600px)  {

    .window .main .movie-list .list > li {
        max-width: 233px;
    }

    #lightboxTarget .movie-card .container {
        width: 70%;
    }

    #lightboxTarget .movie-card .cover {
        width: 170px;
    }

    #lightboxTarget .movie-card .button {
        width: 150px;
        bottom: 194px;
    }

    #lightboxTarget .movie-card .column-left {
        width: 19.5%;
        padding-top: 120px;
    }

    #lightboxTarget .movie-card .tag {
        font-size: 12px;
    }

    #lightboxTarget .movie-card .column-right {
        width: 65%;
    }

    .info {
        bottom: -50px;
    }

    .info .poster {
        width: 95px;
        height: 95px;
    }

    .info .title {
        left: 110px;
        bottom: 85px;
        font-size: 14px;
    }
}